body{
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    font-size: 50px;
    color: slateblue; 
    border:4px dashed #7CB9E8;
    padding: 5px;
    margin: 12px;
    text-align: center;
}

p{
    background-color: rgba(73, 26, 168, 0.5) ;
}

.adr{
    border: 4px solid blue;
}

a:link, a:visited{
    color: white;
    background-color: thistle;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}