body{
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size:larger;
    background-image: url('/img/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
h1{
    font-size: 50px;
    color: slateblue; 
    border:4px dashed #7CB9E8;
    padding: 5px;
    margin: 12px;
    text-align: center;
}

p{
    background-color: rgba(73, 26, 168, 0.5) ;
}

a:link, a:visited{
    color: white;
    background-color: thistle;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

table, th, td {
    border: 1px solid #ddd;
    border-collapse: collapse;
    text-align: left;
    font-family:Georgia, 'Times New Roman', Times, serif;
    width: 80%;
}

td{
    background-color: #b3ccff;
}

th{
    background-color: #318CE7;
    color:#fff;
    border-left: 5px;
}

tr:nth-child(odd){
    background-color: #f2f2f2;
}

tr:hover {
    background-color: gray;
}


